
:root {
  --ion-color-primary: #5E7755;
  --ion-color-primary-rgb: 94,119,85;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #52684a;
  --ion-color-primary-tint: #70866a;

  --ion-text-color: #FFF2F1;
  --ion-text-color-rgb: 255,242,241;

  --ion-color-danger: #9C201C;
  --ion-color-danger-rgb: 156,32,28;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #891c19;
  --ion-color-danger-tint: #a83734;

  --ion-background-color: #34312D;
  --ion-background-color-rgb: 52,49,45;

  --ion-color-success: #00660A;
  --ion-color-success-rgb: 0,102,10;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #00590a;
  --ion-color-success-tint: #1a7523;
}

ion-item.currency-input-item {
  --background: #011B3D;
  background: #011B3D;
}
