<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="danger" (click)="clearHistory()" *ngIf="history.length > 0" class="mb-16">
    Limpar Histórico
  </ion-button>

  <ion-list *ngIf="history.length > 0; else empty">
    <ion-item *ngFor="let item of history">
      <ion-label>
        <h2>{{ item.amount }} {{ item.from }} → {{ item.to }}</h2>
        <p>Resultado: {{ item.result }}</p>
        <p>Data: {{ item.date | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #empty>
    <p>Nenhuma conversão registrada.</p>
  </ng-template>
</ion-content>
