<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="currency-input-item">
    <ion-label>Moeda de Origem</ion-label>
    <ion-select [(ngModel)]="fromCurrency">
      <ion-select-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="currency-input-item">
    <ion-label>Moeda de Destino</ion-label>
    <ion-select [(ngModel)]="toCurrency">
      <ion-select-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="value-input-item">
    <ion-label position="stacked">Valor</ion-label>
    <ion-input type="number" [(ngModel)]="amount" placeholder="Digite o valor"></ion-input>
  </ion-item>

  <ion-button expand="block" class="button-convert" (click)="convertCurrency()">
    Converter
  </ion-button>

  <ion-button expand="block" fill="clear" color="medium" class="button-swap" (click)="swapCurrencies()">
    Inverter Moedas
  </ion-button>

  <ion-button expand="block" class="button-history" [routerLink]="['/tabs/history']">
    Ver Histórico
  </ion-button>

  <ion-card *ngIf="convertedAmount !== null">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ amount }} {{ fromCurrency }} = {{ convertedAmount | number:'1.2-2' }} {{ toCurrency }}
    </ion-card-content>
  </ion-card>
</ion-content>
