<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Moeda de Origem</ion-label>
    <ion-select [(ngModel)]="fromCurrency">
      <ion-select-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Moeda de Destino</ion-label>
    <ion-select [(ngModel)]="toCurrency">
      <ion-select-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="convertCurrency()" class="centered-btn button-wide">
    Converter
  </ion-button>

  <ion-button expand="block" fill="clear" color="medium" (click)="swapCurrencies()" class="centered-btn-secondary button-wide">
    Inverter Moedas
  </ion-button>

  <ion-card *ngIf="convertedAmount !== null">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ amount }} {{ fromCurrency }} = {{ convertedAmount | number:'1.2-2' }} {{ toCurrency }}
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" [routerLink]="['/tabs/history']" class="centered-btn-secondary button-wide">
    Ver Histórico
  </ion-button>
</ion-content>
